.input-box input::placeholder {
    color: #0000009d;
  }
  
  .input-box input:focus {
    background: transparent;
  }
  
  .senha-form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 2 15px;
  }
  
  .remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 4px;
    position: relative;
    left: 20px;
  }
  
  .remember-forgot a {
    color: #ffffff;
    margin-right: 4px;
  }
  
  .senha-form button {
    width: 100%;
    height: 45%;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    background: #fe9e0d !important;
    color: rgb(255, 255, 255);
    padding: 15px 35px 18px 20px;
  }
  
  .senha-form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .senha-form,
  .cadastro-form input::placeholder {
    color: #0000009c;
  }
  
  .input-box input:focus {
    color: #000000a2;
  }
  
  .senha-form {
    width: 100%;
    background: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    position: relative;
    top: 70px;
  }
  
  .senha-form {
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background: transparent;
    color: #fe9e0d;
    border: 2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 20px;
  }
  
  .senha-form h2 {
    margin-bottom: 20px;
    color: #fe9e0d;
  }
  
  .senha-form input[type="password"] {
    margin-bottom: 15px;
  }
  
  .senha-form .btn {
    margin-top: 15px;
  }
  
  .senha-form hr {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #000000 !important;
  }
  
  .remember-forgot a {
    color: #150188;
    position: relative;
    top: -5px;
    left: 107px;
  }
  
  .custom-button {
    position: relative;
  }
  
  .custom-button {
    position: relative;
    top: 50px;
  }
  
  .custom-button:hover {
    background-color: #d4840b !important;
    color: #ffffff !important;
  }
  